In [1]:
import pandas as pd
import sqlite3
from pathlib import Path

# --- Load transformed CSVs ---
df_full = pd.read_csv('transformed/transformed_full.csv')
df_incr = pd.read_csv('transformed/transformed_incremental.csv')

# --- Create loaded directory if it doesn't exist ---
Path("loaded").mkdir(exist_ok=True)

# --- Option 1: Load into SQLite ---
conn = sqlite3.connect('loaded/full_data.db')
df_full.to_sql('full_data', conn, if_exists='replace', index=False)
df_incr.to_sql('incremental_data', conn, if_exists='replace', index=False)

# --- Verify load ---
pd.read_sql('SELECT * FROM full_data LIMIT 5', conn)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalCost,SalesCategory
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30,Very Low
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,Very Low
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00,Very Low
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,Very Low
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,Very Low

- No issue faced since i cloned the repository of the exam 
- The file loaded/full_data.db  appeared in my folder.
- Both tables (full_data and incremental_data) loaded correctly with accurate column names and record counts matching the transformed CSVs.